#li4 {
  color: #0d0c21;
}
#home {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
#intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#info {
  width: 40vw;
  padding: 1vh 4vw;
  display: flex;
  flex-direction: column;
}
#info > h1 {
  color: #0d0c21;
}
#info > p {
  color: #56555e;
  line-height: 1.5;
}
#intro > img {
  margin: 1vh 1vw;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-color: #ced6ce;
}
#others{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.contacts{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 2vh 2vw;
}
.contacts>h2{
  margin: 0;
  padding: 0 2vw;
}
.icons{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.icons>a{
  padding: 1vh 0.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.resume{
  display: flex;
  flex-direction: row;
  align-items: center;
}