*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: #FCFCFC;
  font-family: Inter;
  /* width: 100%; */
  padding: 0 calc(15vw - 50px);
  
}