nav {
  margin: 6vh 0;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  backdrop-filter: blur(45px);
}
nav > h1 {
  color: #0d0c21;
  font-weight: bolder;
  padding: 1vh 4vw;
}
nav > ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0 1vw;
}
nav > ul > li {
  padding: 1vh 1vw;
  color: #56555e;
}
nav > ul > li:hover {
  color: #0d0c21;
}
a{
  text-decoration: none;
  color: inherit;
}