{% extends "base.html" %}
{% block main %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'CSS/experiences_.css' %}">
</head>
<body>
    <div class="experiences">
        {% for experience in experiences %}
        <div class="experience">
            <h2 class="date end">{{ experience.enddate | date:"F, Y" }}</h2>
            <div class="container">
                <div class="horizontal_line"></div>
                <div class="container1">
                    <h1 class="job_title"> {{ experience.title }} </h1>
                    <h2 class="company">at <span> {{  experience.company }} </span></h2>
                    <ul class="details">
                        {% with experience.details|linebreaksbr|split:"<br>" as lines %}
                            {% for line in lines %}
                                <li>{{ line }}</li>
                            {% endfor %}
                        {% endwith %}
                    </ul>
                </div>
            </div>
            <h2 class="date start">{{ experience.startdate | date:"F, Y" }}</h2>
        </div>
        {% endfor %}
    </div>
</body>
{% endblock %}