{% extends "base.html" %}
{% block main %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel= "stylesheet" href= "https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css" >
</head>
<body>
    <div id="home">
        <div id="intro">
            <div id="info">
                <h1>Hello</h1>
                <p>
                    My name is Andrea. I'm an Interaction Design student and soon to be graduate at Kennesaw State University.
                </p>
                <p>
                    My passion for human-centered design emerged as the world turned digital and I know find myself creating solutions to the everyday problems that frame our human experience.
                </p>
                <p>
                    Designing for inclusivity, equitability, and universal accessibility are my core values when it comes to designing positive experiences with people in mind.
                </p>
            <div id="others">
                <div class="contacts">
                    <h2>Contacts</h2>
                    <div class="icons">
                        <a target="_blank" href="mailto:nilanjand172@gmail.com">
                            <svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 -960 960 960" width="30" fill="#0d0c21">
                                <path d="M140-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v520q0 24-18 42t-42 18H140Zm340-302L140-685v465h680v-465L480-462Zm0-60 336-218H145l335 218ZM140-685v-55 520-465Z"/>
                            </svg>
                        </a>
                        <a target="_blank" href="https://www.linkedin.com/in/nilanjan-debnath/">
                            <svg xmlns="http://www.w3.org/2000/svg" height="27" width="27" viewBox="0 0 50 50" fill="#0d0c21">
                                <path d="M41,4H9C6.24,4,4,6.24,4,9v32c0,2.76,2.24,5,5,5h32c2.76,0,5-2.24,5-5V9C46,6.24,43.76,4,41,4z M17,20v19h-6V20H17z M11,14.47c0-1.4,1.2-2.47,3-2.47s2.93,1.07,3,2.47c0,1.4-1.12,2.53-3,2.53C12.2,17,11,15.87,11,14.47z M39,39h-6c0,0,0-9.26,0-10 c0-2-1-4-3.5-4.04h-0.08C27,24.96,26,27.02,26,29c0,0.91,0,10,0,10h-6V20h6v2.56c0,0,1.93-2.56,5.81-2.56 c3.97,0,7.19,2.73,7.19,8.26V39z"></path>
                            </svg>
                        </a>
                        <a target="_blank" href="https://github.com/nilanjan-debnath">
                            <svg height="25" aria-hidden="true" viewBox="0 0 16 16" version="1.1" width="25" data-view-component="true" class="octicon octicon-mark-github v-align-middle color-fg-default">
                                <path d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z"></path>
                            </svg>
                        </a>
                    </div>
                </div>
                <a class="resume" target="_blank" href="https://docs.google.com/document/d/1R9b8BsbRuTSYOKiKUd4P6a-ewR8pUKEBAifHYIdV2-o/edit?usp=sharing">
                    <h3>Resume</h3>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#0d0c21"><path d="M480-320 280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z"/></svg>
                </a>
            </div>
            </div>
            <img src="{% static 'photos/photo.webp' %}" alt="My image">
        </div>
    </div>
</body>
{% endblock %}   