{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="
            This is my portfolio as a student and specialise in AI ML.
            All about my project and work details are there. Fell free to explore my portfolio.">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <title>Nilanjan Debnath</title>
</head>
<body>
    {% include "nav.html" %}
    <main>
        {% block main %}
        {% endblock %}
    </main>
</body>
</html>