{% extends "base.html" %}
{% block main %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/experiences_.css' %}">
</head>
<body>
    <div class="experiences">
        <div class="experience">
            <h2 class="date start">September, 2023</h2>
            <div class="container">
                <div class="horizontal_line"></div>
                <div class="container1">
                    <h1 class="job_title">Developer Intern</h1>
                    <h2 class="company">at <span>company Pvt. Ltd.</span></h2>
                    <ul class="details">
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non esse ipsam at tempore provident! Iste, amet placeat provident totam, delectus suscipit unde excepturi, modi ratione necessitatibus asperiores ad accusamus? Harum?</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt iusto laborum, cum tempore ullam voluptatibus explicabo, quod expedita nam optio sit provident, nulla cumque minima eum deserunt animi ex. Ipsam.</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo possimus odio, magnam necessitatibus rerum eos quidem odit ratione iusto obcaecati quo nisi! Sit impedit est libero, perferendis nobis possimus ex.</li>
                    </ul>
                </div>
            </div>
            <h2 class="date end">August, 2023</h2>
        </div>
    </div>
</body>
{% endblock %}