{% extends "base.html" %}
{% block main %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/projects.css' %}">
</head>
<body>
    <div id="home">
        <div id="intro">
            <div id="info">
                <h1>Hi, I'm Nilanjan ッ</h1>
                <p>
                    I am a B Tech IT student having interest in Data Science Field. I love working with ML and DL libraries and exploring new AI technologies and open-source LLM models. 
                </p>
            </div>
            <img src="{% static 'photos/photo.webp' %}" alt="My image">
        </div>
        <a id="scroll" href="#projects">
            <img src="https://assets-global.website-files.com/60f5a97b9e66c2b92c76a14e/6140a7f1ccfe242db78e97b5_Vector.svg" width="21" alt="">
        </a>
    </div>
    <div id="projects">
        {% for project in projects %}
        <div class="project">
            <div class="image">
                <img src="{{ project.image }}" alt="">
            </div>
            <h1>
                {{ project.title }}
            </h1>
            <p>
                {{ project.details }}
            </p>
            <div class="vertical_line"></div>
            <div class="more"><a target="_blank" href="{{ project.url }}">Project Link</a></div>
        </div>
        {% endfor %}
    </div>
</body>
{% endblock %}